/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Importing Bootstrap SCSS file. */
.dark {
  //$enable-gradients: true;
  /* redefine theme colors for dark theme */
  $primary: #012345;
  $secondary: #111111;
  $success: #222222;
  $dark: #000;

  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "info": $indigo,
    "dark": $dark,
    "light": #aaa,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }
  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, $value);
    }
  }
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $body-color: #eeeeee;
  $body-bg: #263C5C;


  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  .list-group-item, .card {
    border-color: #{$body-color};
    background-color: shift-color($body-bg, -15);
    color: $body-color;
  }

  .coin-icon-container {
    background-color: #5e69e1 !important;
  }

  .dropdown-menu, .dropdown-item-text, .dropdown-item {
    background-color: #5e69e1;
    color: #{$body-color};
  }

  $btn-link-color: $primary;

  .btn-link {
    color: $btn-link-color;

    &:hover {
      color: shift-color($btn-link-color, 15);
    }

    &:disabled, &.disabled {
      color: shift-color($btn-link-disabled-color, -50);
    }
  }
}

@import '~bootstrap/scss/bootstrap';
